body {
    margin: 0;
}
.nav-img {
    display: flex;
    justify-content: center;
}
.nav-img img {
    width: 5rem;
}
.img-icon {
    width: 3rem;
}
.img-arrow {
    width: 1rem;
}
.arrow-container{
    display: flex;
    justify-content: center;
    gap: 5px;
    min-width: 5rem
}
.att-icons {
    text-decoration: none;
    color: black;
}
.MuiAutocomplete-root .MuiOutlinedInput-root{
    padding: 5px !important 
}